<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--【请修改SQLite数据库路径】-->
    <add name="SqliteConn" providerName="Dos.ORM.Sqlite" connectionString="Data Source=D:\工作\GitHub\Dos.ORM.Demo\数据库\DosORMSqlite.sqlite3" />

    <add name="MySqlConn" providerName="Dos.ORM.MySql" connectionString="Data Source=127.0.0.1;Database=DosORMMySql;User Id=root;Password=root;Convert Zero Datetime=True;Allow Zero Datetime=True;" />

    <add name="SqlServerConn" providerName="Dos.ORM.SqlServer9" connectionString="Data Source=118.26.233.118;Initial Catalog=TX_HomeWork;User ID=Zxxk;Password=qw3e4t5-9o$9r^THeb6y5" />

    <add name="AccessConn" providerName="Dos.ORM.MsAccess" connectionString="" />

    <add name="OracleConn" providerName="Dos.ORM.Oracle" connectionString="" />

    <add name="PostgreSqlConn" providerName="Dos.ORM.PostgreSql" connectionString="" />
  </connectionStrings>
</configuration>